<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css"
    />
  </head>

  <body>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-offset-4 is-4">
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                      <img src="http://openweathermap.org/img/w/{{ weather.location1.icon }}.png" alt="{{ weather.location1.city }}">
                  </figure>
                </div>
                <div class="media-content" style="overflow: hidden;">
                  <div class="content">
                    <p>
                      <span class="title">{{ weather.location1.city }}</span>
                      <span class="subtitle">{{ weather.location1.temperature }}&#176;</span>
                      <br>
                      <span class="title">{{weather.location1.time }}</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                      <img src="http://openweathermap.org/img/w/{{ weather.location2.icon }}.png" alt="{{ weather.location1.city }}">
                  </figure>
                </div>
                <div class="media-content" style="overflow: hidden;">
                  <div class="content">
                    <p>
                      <span class="title">{{ weather.location2.city }}</span>
                      <span class="subtitle">{{ weather.location2.temperature }}&#176;</span>
                      <br>
                      <span class="title">{{weather.location2.time }}</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                      <img src="http://openweathermap.org/img/w/{{ weather.location3.icon }}.png" alt="{{ weather.location1.city }}">
                  </figure>
                </div>
                <div class="media-content" style="overflow: hidden;">
                  <div class="content">
                    <p>
                      <span class="title">{{ weather.location3.city }}</span>
                      <span class="subtitle">{{ weather.location3.temperature }}&#176;</span>
                      <br>
                      <span class="title">{{weather.location3.time }}</span>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
